*{
    margin: 0;
    padding: 0;
}
.header{
    height: 150vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/img/image3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 200px;
    text-align: center;
}
img{
    width: 40px;
    border-style:double;
}
.card{
    text-align: left;
    margin-top: 100px;
}
h2{
    font-size: 20px;
}
.card p{
    font-style: oblique;
}

